@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

:root {
  --fontMono: 'Questrial', sans-serif;
  --fontSans: 'Montserrat', sans-serif;
  --primary_dark: #1c1d1e;
  --primary_light: #fff;
  --one_color: #38f6c0;
  --two_color: #fbfcff;
  --three_color: #87d0d9;
  --four_color: #0b0e2d;
  --five_color: #9597b7;
  --alignment: left;
}

body {
  background-color: var(--primary_light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

::selection {
  background: #a0ffe4
}

html {
  background-color: var(--primary_light);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* =======================================
   Typography
 ======================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary_light);
  padding: 0 0 0.3rem 0;
  font-weight: 700;
  font-family: var(--fontSans);
}

h1 {
  font-size: 2.653em;
  line-height: 1.3;
  letter-spacing: -0.05rem;
}

h2 {
  font-size: 1.563em;
  line-height: 1.2;
  letter-spacing: 0;
  margin-bottom: .5rem;
  letter-spacing: -1px;
  font-weight: 500;
  letter-spacing: 5px;
}

h3 {
  font-size: 1.25em;
  line-height: 1.25;
  letter-spacing: 0;
  margin-bottom: .8rem
}

h4 {
  font-size: 1em;
  line-height: 1.8;
  letter-spacing: 0.3px;
}

h5 {
  font-size: 0.8em;
  line-height: 1.35;
  letter-spacing: .02rem;
}

p {
  font-size: 1.2em;
  font-family: var(--fontMono);
  line-height: 1.65;
  color: var(--primary_light);
}

body, html, li, ul {
  margin: 0;
  padding: 0;
  counter-reset: headings
}

ul {
  list-style: none
}

button {
  margin: 0
}

html {
  box-sizing: border-box
}

*, ::after, ::before {
  box-sizing: inherit
}

img {
  height: auto;
  max-width: 100%
}

html {
  background-color: var(--primary_light);
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%
}

body, button {
  font-family: var(--fontSans)
}

body {
  background-color: var(--primary_light)
}

a {
  color: var(--four_color);
  cursor: pointer;
  text-decoration: none
}

a:hover {
  color: var(--primary_light)
}

img {
  height: auto;
  max-width: 100%
}

span {
  font-style: inherit;
  font-weight: inherit
}

/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
body,
h1,
h2,
h3,
h4,
h5,
h6,
html,
li,
p,
ul {
  margin: 0;
  padding: 0;
  counter-reset: headings;
}

/* =======================================
   Background colors
 ======================================== */
.has-background-dark {
  background-color: #100a1a !important;
}

.has-background-light {
  background-color: var(--primary_dark);
   !important
}

.has-background-darkblue {
  background-color: var(--four_color) !important;
}

.has-background-blueish {
  background-color: var(--three_color);
   !important
}

.has-text-dark {
  color: var(--primary_dark);
   !important: ;
}

.is-uppercase {
  text-transform: uppercase !important;
}

/* =======================================
   Grid system
 ======================================== */
.section.is-small {
  padding: 6rem 1.5rem;
}

.section.is-medium {
  padding: 15rem 1.5rem;
}

.section.is-large {
  dding: 18rem 1.5rem;
}

.container {
  max-width: 1100px;
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

/* =======================================
   Buttons
 ======================================== */
.button.is-primary {
  color: var(--primary_dark);
  /* color: var(--primary_light); */
  background-color: var(--one_color);
  opacity: 1;
  border-radius: 100px;
  border: 3px solid var(--one_color);
  font-family: var(--fontSans);
  font-weight: 700;
  padding: 20px 50px;
  text-transform: uppercase;
  transition: all .4s;
  font-size: 0.8em;
}

.button.is-primary:hover {
  background-color: var(--primary_dark);
  border-color: 3px solid var(--one_color);
  color: var(--primary_light);
}

.button.is-primary:focus {
  background-color: var(--primary_dark);
  border-color: transparent;
  color: var(--primary_light)
}

.button.is-primary:active {
  background-color: var(--primary_dark);
  border-color: transparent;
  color: var(--primary_light);
}

.button.is-primary[disabled] {
  background-color: var(--primary_dark);
  border-color: transparent;
  box-shadow: none
}

/* =======================================
   Navigation bar
 ======================================== */
.brand-name {
  display: flex;
  color: var(--primary_light);
  flex-grow: 0;
  flex-shrink: 0;
  width: 50%;
}

/*Animations mobile menu list*/


.desktop-nav__list {
  display: inline-flex;
  top: 20%;
  position: relative
}

.global-nav__list {
  line-height: 50px;
  text-align: left;
  transform: translateX(-70px)
}

.global-nav__list li {
  opacity: 0;
  transform: translate(100%, -0%);
}

ul.global-nav__list a {
  font-size: 1.2em;
  font-family: var(--fontSans);
  line-height: 1.65;
  color: var(--primary_light);
  font-weight: 700;
  transition-duration: .3s
  
  transform: translate(0%);
  /* This delay will take effect when _hiding_ elements */
  transition-delay: calc(0.025s * (var(--length) + (var(--index) + 1)));
}



.nav_line_list {
  height: 2px;
  width: 60px;
  background: var(--primary_light);
  margin: 20px 0 20px 0;
  opacity: 1
}

.social {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0px);
  opacity: 1;
}

.novile-items {
 position: relative;
  height: 50px;
  width: 50px;
  background: transparent;
  border-radius: 50%;
  margin: 8px 8px 0 0;
  display: -ms-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  border: 3px solid var(--one_color);
  color: var(--primary_dark);
  opacity: 1;
}

.novile-items:hover {
  background: var(--one_color);
  color: var(--primary_dark);
  border: transparent;
  transition: all .2s
}

.contact_me {
  font-family: var(--fontSans);
  color: var(--primary_dark);
  font-size: .7em;
  font-weight: 300;
  opacity: 1;
  transition-duration: .5s;
  animation-delay: 3.5s;
}

.contact_me a {
  transition: transform .25s ease-in-out .4s, opacity .25s linear .4s;
  opacity: 0;
transform: translate(100%, -0%);
  transition-duration: 500ms;
  transition: all 90ms ease-in-out 0s, transform ease-in-out 0s;
  transition-delay: 1.275s;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(.375em - 1px);
  padding-left: calc(.625em - 1px);
  padding-right: calc(.625em - 1px);
  padding-top: calc(.375em - 1px);
  position: relative;
  vertical-align: top
}

.button:active, .button:focus {
  outline: 0
}

.button[disabled] {
  cursor: not-allowed
}

.button {
  background-color: var(--primary_dark);
  border-color: var(--primary_dark);
  border-width: 1px;
  color: var(--primary_dark);
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(.375em - 1px);
  padding-left: .75em;
  padding-right: .75em;
  padding-top: calc(.375em - 1px);
  text-align: center;
  white-space: nowrap
}

.button:hover {
  border-color: 3px solid var(--one_color);
  color: var(--primary_dark)
}

.button:focus {
  border-color: var(--primary_dark);
  color: var(--primary_dark)
}

.button:active {
  color: var(--primary_dark)
}

.button.is-info {
  background-color: var(--primary_dark);
  border-color: transparent;
  color: var(--primary_dark)
}

.button.is-info:hover {
  background-color: var(--primary_dark);
  border-color: transparent;
  color: var(--primary_dark)
}

.button.is-info:focus {
  border-color: transparent;
  color: var(--primary_dark)
}

.button.is-info:focus:not(:active) {
  box-shadow: 0 0 0 .125em rgba(32, 156, 238, .25)
}

.button.is-info:active {
  background-color: var(--primary_dark);
  border-color: transparent;
  color: var(--primary_dark)
}

.button.is-info[disabled] {
  background-color: var(--primary_dark);
  border-color: transparent;
  box-shadow: none
}

.button[disabled] {
  background-color: var(--primary_dark);
  border-color: var(--primary_dark);
  box-shadow: none;
  opacity: .5
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start
}

.buttons .button {
  margin-bottom: .5rem
}

.buttons:last-child {
  margin-bottom: -.5rem
}

.buttons:not(:last-child) {
  margin-bottom: .3rem
}

.label {
  color: var(--primary_dark);
  display: block;
  font-size: 1rem;
  font-weight: 700
}

.label:not(:last-child) {
  margin-bottom: .5em
}

@keyframes moveleft {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(10px)
  }
}

.menu-label:not(:first-child) {
  margin-top: 1em
}

.menu-label:not(:last-child) {
  margin-bottom: 1em
}

.navbar {
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
  transition: all .5s
}

.navbar.is-info {
  background-color: var(--primary_dark);
  color: var(--primary_dark)
}

.navbar.is-info .navbar-brand>.navbar-item {
  color: var(--primary_dark)
}

.navbar.is-info .navbar-brand>a.navbar-item:hover {
  background-color: var(--primary_dark);
  color: var(--primary_dark)
}

.navbar>.container {
  align-items: stretch;
  display: flex;
  /* min-height: 1rem; */
  width: 100%;
  padding: 0rem 2rem 0rem 2rem;
}

.navbar.is-fixed-top {
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30
}

.navbar.is-fixed-top {
  top: 0
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
}

.navbar-brand a.navbar-item:hover {
  background-color: transparent
}

.navbar-menu {
  display: none
}

.navbar-item {
  display: inline-block;
  line-height: 1.5;
  padding: .5rem .75rem;
  position: relative;
  text-decoration: none;
}

a.navbar-item {
  cursor: pointer
}

a.navbar-item:hover {
  color: var(primary_light);
}

/* test */
li .navbar-item {
  display: inline-block;
  position: relative;
  /* padding-bottom: 3px; */
  margin-right: 10px;
  text-transform: capitalize;
  font-weight: 700;
  padding: 1rem 1.8rem 0rem 0;
}

li .navbar-item:last-child {
  margin-right: 0;
}

li .navbar-item:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .4s ease, background-color .4s ease;
}

li .navbar-item:hover:after {
  width: 100%;
  background: var(--one_color);
}

/* test */
.navbar-item {
  display: block;
  flex-grow: 0;
  flex-shrink: 0
}

.navbar-item img {
  max-height: 3.5rem
}

.navbar-item.is-expanded {
  flex-grow: 1;
  flex-shrink: 1
}

.navbar-item:hover {
  font-weight: 900;
  transition: all .2s;
}

.gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-auto-flow: dense
}

.navbar.is-fixed-top {
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
  /* padding: .6em 0 .6em 0; */
}

.novile {
  display: none;
}

.novile-item {
  margin: 5% 10px 0 0;
  height: 40px;
  width: 40px;
  background: var(--primary_light);
  border-radius: 50%;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  border: 2px solid var(--primary_dark);
  color: var(--primary_dark)
}

.novile-items:hover {
  background: var(--one_color);
  fill: var(--primary_light);
  border: 2px solid transparent;
  transition: all .2s
}

.button.is-talk {
  color: var(--primary_light);
  transition: all .4s;
  background-color: transparent;
  opacity: 1;
  border-radius: 100px;
  border: 3px solid var(--one_color);
  font-family: var(--fontSans);
  font-weight: 700;
  padding: 20px 30px;
  text-transform: uppercase;
  font-size: .8em
}

.button.is-talk:hover {
  background-color: var(--one_color);
  color: var(--primary_dark)
}

.brand-name {
  font-family: var(--fontSans);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--primary_dark);
  width: 65%;
  padding: 2rem 0 1rem 2rem;
}

.brand-name:hover {
  color: var(--one_color)
}

.navbar-item {
  font-size: .75rem;
  font-family: var(--fontSans);
  font-weight: 600;
  line-height: 1.5;
  padding: .8rem 1rem;
  text-transform: uppercase;
  transition: all .2s;
  color: var(--primary_light);
}

a {
  cursor: pointer;
  text-decoration: none
}

#navbar {
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
  transition: background-color .2s linear;
  background-color: var(--primary_light);
  /* padding: .7em 0 .7em 0 */
}

*, ::after, ::before {
  box-sizing: inherit
}

.navbar, .navbar-end, .navbar-menu {
  align-items: stretch;
  display: flex
}

.navbar-item {
  display: flex;
}

.navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
  align-items: center;
  padding: 0 4% 0 0:
}

.container>.navbar .navbar-brand, .navbar>.container .navbar-brand {
  margin-left: 1.5rem;
}

.container>.navbar .navbar-menu, .navbar>.container .navbar-menu {
  margin-right: -.75rem;
}

.navbar, .navbar-end, .navbar-menu {
  align-items: stretch;
  display: flex
}

.navbar {
  min-height: 3.25rem;
}

.navbar-item {
  align-items: center;
  display: flex
}

.navbar-item {
  display: flex
}

.navbar-menu {
  flex-grow: 1;
  flex-shrink: 0
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto
}

.container>.navbar .navbar-brand, .navbar>.container .navbar-brand {
  margin-left: -.75rem
}

.container>.navbar .navbar-menu, .navbar>.container .navbar-menu {
  margin-right: -.75rem
}
}

@media (max-width:1200px) {
  .brand-name {
    font-family: var(--fontSans);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--primary_dark);
    width: 90%
  }

  .navbar>.container {
    display: block
  }

  .navbar-brand .navbar-item {
    align-items: center;
    display: flex
  }

  .navbar-menu {
    box-shadow: 0 8px 16px rgba(10, 10, 10, .1);
    padding: .5rem 0
  }

  .navbar.is-fixed-top .navbar-menu {
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 3.25rem);
    overflow: auto;
    display: none
  }

  .buttons {
    justify-content: left
  }

  .gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr)
  }

  .novile {
    margin-left: auto;
    overflow: auto;
    align-items: stretch;
    display: flex;
    grid-column: 9/14;
    grid-row: 1;
    margin-right: 15px
  }

  .brand-name {
    font-family: var(--fontSans);
    text-transform: uppercase;
    letter-spacing: .7px;
    justify-self: center;
  }
}

/* =======================================
   Burger menu
 ======================================== */
.global-nav.js-open {
 -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.global-nav.js-open a {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition-delay: 90ms;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0px);
}

ul.global-nav__list a {
  font-size: 1.2em;
  font-family: var(--fontSans);
  line-height: 1.65;
  color: var(--primary_light);
  font-weight: 700;
  opacity: 0;
  transition-duration: 300ms;
}

.burger {
  position: absolute;
  z-index: 10;
  right: 1rem;
  top: 0.3rem;
  cursor: pointer;
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  /* transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1); */
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  transition-duration: .22s;
  height: 50px;
  width: 50px;
  Background: transparent;
  border-radius: 50%;
  border: 3px solid transparent;
  /* color: var(--primary_dark); */
  padding: 8px;
  padding-top: 13px;
}

.burger_line {
  width: 30px;
  border-radius: 100px;
  height: 1.5px;
  margin: 0 0 6.5px 0;
  background: var(--primary_light);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  /* transition: top .1s ease-out,opacity .1s ease-out .12s; */
}

.burger_line:last-child {
  margin-bottom: 0;
}

.burger_close {
  -webkit-transform: rotate(180deg);
  /* transform: rotate(180deg); */
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  transform: rotate(180deg);
  Background: var(--one_color);
}

.burger_close .burger_line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
  transition: bottom .1s ease-out, transform .22s cubic-bezier(.215, .61, .355, 1) .12s;
  /* transform: rotate(-90deg); */
  Background: var(--four_color);
}

.burger_close .burger_line:nth-child(2) {
  opacity: 0;
  Background: var(--four_color);
}

.burger_close .burger_line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(5px, -4px);
  transform: rotate(-45deg) translate(5px, -6px);
  Background: var(--four_color);
}

.nav_line_list {
  height: 2px;
  width: 60px;
  background: var(--primary_light);
  margin: 20px 0 20px 0;
  opacity: 1;
}

.global-nav__list {
  line-height: 50px;
  text-align: left;
  /*transform: translate3d(-50%, 2%, 0);*/
  /* opacity: 0; */
  /* transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s, opacity 0.25s linear 0.4s;*/
  transform: translateX(-70px);
}

.global-nav__list li {
 line-height: 3;

  opacity: 0;
  transform: translateX(-900px);
  transition-duration: 800ms;
  transition-property: opacity, transform;
  /* This delay will take effect when _showing_ elements */
  transition-delay: calc(0.015s * var(--index));
  /* transition: all 800ms cubic-bezier(0.68, -0.16, 0, 1.13); */
 }

li.fade {
  opacity: 1;
  transform: translateX(0px);
  /* This delay will take effect when _hiding_ elements */
  transition-delay: calc(0.025s * (var(--length) - (var(--index) + 1)));
}

.global-nav {
  background: var(--four_color);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  z-index: -100;
}

/* =======================================
   Hero
 ======================================== */
.intro {
  padding: 0px 0px 1rem 0;
}

.herosection {
  display: grid;
  grid-gap: 10px;
  justify-content: start;
  align-content: start;
  /* padding: 7rem 0 0 0; */
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: repeat(1, 1fr); */
}

.heroimg {
  /* grid-column: 5/12; */
  /* grid-row: 1; */
  grid-column: 4/12;
  grid-row: 1;
  padding: 2rem 0 0 0;
}

.videobox {
  padding: 0.5%;
  background-color: var(--primary_light);
  box-shadow: 0 10px 20px 0 rgba(119, 129, 173, .1);
  border-radius: 10px;
  margin: 0px 0 0 0;
}

.videores {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.paragrap {
  text-transform: none;
  padding: 0 0rem 1rem 0;
  text-align: left;
}

.herosectiontext {
  grid-column: 1/ span 4;
  grid-row: 1;
  display: grid;
  place-content: start;
  align-content: center;
}

/* =======================================
   Characters
 ======================================== */
.leftimg {
  grid-column: 8/12;
  grid-row: 1;
  align-self: center;
}

.brother {
  grid-column: 8/12;
  grid-row: 1;
  width: 56%;
  /* display: grid; */
  align-self: center;
}

.sister {
  grid-column: 3/12;
  grid-row: 1;
  width: 25%;
}

.rightimg {
  grid-column: 2/6;
  grid-row: 1;
  align-self: center;
}

.header {
  text-align: center;
  padding: 0 2rem 4rem 2rem;
  /* margin-top: 4rem; */
}

/* =======================================
   About
 ======================================== */
.picenter {
  grid-column: 1/ span 5;
  grid-row: 1;
  display: grid;
  align-content: center;
  padding: 0 0 0 3rem;
}

.col_left {
  grid-column: 1/5;
  grid-row: 1;
  align-self: center;
}

.col_right {
  grid-column: 6/13;
  grid-row: 1;
  align-self: center;
}

/* =======================================
   Gallery & Faq
 ======================================== */
@media (max-width: 960px) {
  #lightgallery {
    column-count: 2;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    display: grid;
  }
}

.frogimage{
	width: 25%;
	padding: 2rem 0 0 0;
	}

.accordion {
  max-width: 100%;
  margin: 0 auto 100px;
  border-top: 1px solid var(--primary_dark);
  color: var(--primary_dark);
}

.accordion li {
  border-bottom: 1px solid var(--primary_dark);
  position: relative;
}

.accordion li p {
  display: none;
  padding: 10px 25px 30px;
}

.accordion a {
  width: 100%;
  display: block;
  cursor: pointer;
  font-weight: 600;
  font-family: var(--fontSans);
  letter-spacing: 0.3px;
  line-height: 3;
  color: var(--primary_dark);
  text-indent: 5px;
  user-select: none;
}

.accordion a:selected {
  color: var(--primary_dark);
}

.accordion a:after {
  width: 8px;
  height: 8px;
  border-right: 2px solid var(--primary_dark);
  border-bottom: 2px solid var(--primary_dark);
  position: absolute;
  right: 10px;
  content: " ";
  top: 17px;
  transform: rotate(-45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.accordion p {
  line-height: 2;
  padding: 10px;
  color: var(--primary_dark);
}

a.active:after {
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* =======================================
   Testimonials
 =========================================*/
.testimonial-author-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: var(--alignment);
  -webkit-justify-content: var(--alignment);
  -ms-flex-pack: var(--alignment);
  justify-content: var(--alignment);
  -webkit-box-align: start;
  -webkit-align-items: var(--alignment);
  -ms-flex-align: start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: var(--alignment);
  align-items: var(--alignment);
}

.testimage {
  width: 20%;
  height: 20%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 50%;
  align-items: center;
  margin: 0 0 10px 0;
}

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.glide * {
  box-sizing: inherit;
}

.glide__track {
  overflow: hidden
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  height: auto;
}

.glide__slide {
  width: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 250ms ease-out 0s;
  opacity: .2;
}

.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none
}

.glide__slide--active {
  transform: translate3d(0, 0.8%, 0) scale(1);
  transition: all 250ms ease-out 0s;
  opacity: 1;
}

.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
  position: absolute;
  z-index: 2;
  top: auto;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
  padding: 0rem 0 0 0;
  transform: scale(1.2);
  /* grid-column: 1; */
  /* grid-row: 1; */
  align-self: center;
}

.glide__bullet {
  background-color: transparent;
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid var(--primary_light);
  transition: all .3s ease-in-out;
  cursor: pointer;
  line-height: 0;
  margin: 0 .25em
}

.glide__bullet--active {
  background-color: var(--primary_light);
  border: 2px solid var(--primary_light);
}

.glide__bullet:focus {
  outline: 0;
}

.glide__bullet:focus,
.glide__bullet:hover {
  border: 2px solid var(--primary_light);
  background-color: var(--primary_light);
}

.timelinebox {
  margin: 0 auto;
  padding: 24px;
  border-radius: 10px;
  width: auto;
  background-color: transparent;
  text-align: left;
  align-items: center;
  transition: all .2s;
}

.timelinebox:hover {
  background: transparent;
  cursor: pointer;
}

.testimage {
  width: 20%;
  height: 20%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 50%;
  align-items: center;
  margin: 0 0 10px 0;
}

.testimonial {
  margin: 15px 8px;
  padding: 24px 48px;
  border-radius: 10px;
  background-color: var(--primary_light);
}

.testimonial-text p {
  /* margin-bottom: 15%; */
  color: var(--primary_light);
  font-size: 1.6rem;
  line-height: 38px;
  font-family: var(--fontMono);
  text-align: var(--alignment);
  padding-top: 10%;
}

.testimonial-author-info h5 {
  margin-bottom: 1px;
  line-height: 20px;
  font-family: var(--fontSans);
  font-weight: 600
}

.testimonial-author-link {
  display: inline-block;
  margin-top: -5px;
  color: var(--primary_light);
  font-size: .8rem;
  line-height: 16px;
  text-decoration: none;
  font-family: var(--fontMono)
}

/* =======================================
   Footer
 ======================================== */
.footer_logo {
  grid-column: 1;
  grid-row: 1;
  width: 75%;
}

.footer_grid {
  display: grid;
  padding: 5rem 0 5rem 0rem;
  grid-template-rows: repeat(auto-fit (2, 1fr));
  grid-gap: 5px;
  /* align-items: center; */
  grid-template-columns: repeat(5, 1fr);
}

.footer_links_col1 {
  color: var(--primary_light);
  grid-column: 2;
  grid-row: 1;
}

.footer_links_col2 {
  color: var(--primary_light);
  grid-column: 3;
  grid-row: 1;
}

.footer_links_col3 {
  color: var(--primary_light);
  grid-column: 4;
  grid-row: 1;
}

.footer_links a {
  color: var(--primary_light);
  line-height: 2.3;
}

.footer_links_col1 h6, .footer_links_col2 h6, .footer_links_col3 h6 {
  /* padding: 0 0 0 1rem; */
  opacity: 0.5;
  text-transform: uppercase;
}

.footer_social {
  grid-column: 5;
  grid-row: 1;
}

.contact-icon {
  position: relative;
  height: 40px;
  width: 40px;
  background: transparent;
  border-radius: 50%;
  margin: 0 5px 0 0;
  display: -ms-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  border: 2px solid var(--one_color);
  color: var(--primary_light);
  padding: 8px;
}

.contact-icon:hover {
  background: var(--one_color);
  color: var(--primary_dark);
  transition: all .2s;
}

.footer_legals {
  grid-column: 2 / span 4;
  grid-row: 2;
  padding: 2rem 0 0 0;
}

.footer_legals h6 {
  color: var(--five_color);
  font-weight: 600;
}

.footer_legals h6 a {
  color: var(--five_color);
}

.footer_legals h6 a:hover {
  color: var(--one_color);
  transition: all .2s;
}

.badge-item img {
  width: 60%;
  padding: 1rem 0 2px 0;
}

/* =======================================
   Media Queries
 ======================================== */
/* Desktop and bigger */
@media screen and (min-width:1400px) {
  .container {
    max-width: 1344px;
    width: 1344px;
  }

  .herosectiontext {
    grid-column: 1/ span 4;
    grid-row: 1;
  }
}

/* Desktop and bigger */
@media (min-width: 767px) {
  #lightgallery {
    column-count: 3 !important;
  }

  .container {
    width: 93%;
  }
  
  .accordion {
    max-width: 85%;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    width: 96%;
  }

  .brand-name {
    font-family: var(--fontSans);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--primary_dark);
    width: 46%;
    padding: 1rem 0 1rem 0rem;
  }

  .navbar-end {
    display: none;
  }

  .navbar>.container {
    /* padding: 0.5rem 2rem 0rem 0.5rem; */
  }

  .novile {
    display: flex;
  }

  .herosection {
    grid-column: 1;
    grid-row: 2;
    /* padding: 0.5rem 0 0 0; */
  }

  .heroimg {
    grid-column: 1/12;
    grid-row: 2;
    padding: 0 0 0rem 0;
  }

  .herosectiontext {
    grid-column: 1/ span 10;
    grid-row: 1;
    display: grid;
    place-content: start;
    grid-row-gap: 2px;
  }

  .sister {
    grid-column: 1/12;
    grid-row: 1;
    width: 40%;
  }

  .brother {
    grid-column: 7/12;
    grid-row: 1;
    width: 100%;
  }

  .leftimg {
    grid-column: 1/12;
    grid-row: 2;
  }

  .rightimg {
    grid-column: 1/12;
    grid-row: 2;
  }

  .picenter {
    grid-column: 1/12;
    grid-row: 1;
    justify-self: center;
    width: 80%;
    padding: 0 0 1rem 0;
    display: none;
  }
  
  .col_left {
  grid-column: 1/12;
  grid-row: 1;
  align-self: center;
  Padding: 0 0 2rem 0;
}

.col_right {
  grid-column: 1/12;
  grid-row: 2;
  align-self: center;
}



  .timelinebox {
    padding: 4px;
    width: auto;
    text-align: var(--alignment);
  }

  .testimonial-text p {
    /* margin-bottom: 8%; */
    color: var(--primary_light);
    font-size: 1.4rem;
    line-height: 33px;
    font-family: var(--fontMono);
    text-align: var(--alignment);
    padding: 0 0 1.5rem 0;
  }

  .intro {
    width: 75%;
  }

  .glide__bullets {
    left: 2%;
  }

  .footer_grid {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-rows: fit-content(40%);
  }

  .footer_logo {
    grid-column: 1;
    grid-row: 1;
    /* padding: 0 0 2rem 0; */
    width: 50%;
    padding: 0px 0px 0 1.5rem;
  }

  .footer_links_col1 {
    grid-column: 1;
    grid-row: 2;
    padding: 0 0 0 1.5rem;
  }

  .footer_links_col2 {
    grid-column: 1;
    grid-row: 3;
    padding: 0 0 0 1.5rem;
  }

  .footer_links_col3 {
    grid-column: 1;
    grid-row: 4;
    padding: 0 0 0 1.5rem;
  }

  .footer_social {
    grid-column: 1;
    grid-row: 5;
    padding: 0 0 0 1.5rem;
  }

  .footer_legals {
    grid-column: 1;
    grid-row: 6;
    padding: 0 0 0 1.5rem;
  }

  .badge-item img {
    width: 35%;
    padding: 1rem 0 2px 0;
  }
}

@media screen and (min-width:500px) and (max-width:850px) {
  .footer_grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: fit-content(5%);
  }

  .footer_logo {
    grid-column: 1;
    grid-row: 1;
    /* padding: 0 0 2rem 0; */
    width: 76%;
    padding: 0 0 1rem 0rem;
  }

  .footer_links_col1 {
    grid-column: 1;
    grid-row: 2;
    padding: 0 0 0 1rem;
  }

  .footer_links_col2 {
    grid-column: 2;
    grid-row: 2;
  }

  .footer_links_col3 {
    grid-column: 3;
    grid-row: 2;
  }

  .footer_social {
    grid-column: 1/3;
    grid-row: 3;
  }

  .footer_legals {
    grid-column: 1/4;
    grid-row: 4;
  }

  .badge-item img {
    width: 40%;
    padding: 1rem 0 2px 0;
  }
}
